*{
  margin: 0;
  padding: 0;
}
.box{
  height: 75px;
  width: 175px;
  border: 3px solid black;
  margin: 5px;
  text-align: center;
}
#heading{ text-align: center;}
#container{
  height: 300px;
  width: 600px;
  padding: 10px;
  margin: 20px;
  border: 3px solid black;

  display: flex;
  flex-direction: row;
}
#box1{ background-color: aqua;}
#box2{ background-color: blueviolet;}
#box3{ background-color: yellow;}
#box4{ background-color:tomato;}